{{ if or .PrevInSection .NextInSection }}
<div class="pagination">
  <div class="right">
  {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.RelPermalink }}">
      <time datetime="{{ .PrevInSection.Date }}">{{ .PrevInSection.Date.Format $.Site.Params.dateFormat }} &raquo; </time>
      {{ .PrevInSection.LinkTitle }}
    </a>
  {{ end }}
  </div>
  <div class="left">
  {{ if .NextInSection }}
    <a href="{{ .NextInSection.RelPermalink }}">
      <time datetime="{{ .NextInSection.Date }}">&laquo; {{ .NextInSection.Date.Format $.Site.Params.dateFormat }}</time>
      {{ .NextInSection.LinkTitle }}
    </a>
  {{ end }}
  </div>
</div>
{{ end }}
