{{ define "main" }}
{{ range .Paginator.Pages }}
<article>
  <header>
    <h1><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h1>
    <time datetime="{{ .Date }}">{{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }}</time>
  </header>
  <div class="body">
    {{ .Content | safeHTML | truncate $.Site.Params.postTruncateLength "…" }}
  </div>
  <footer>
    <a href="{{ .RelPermalink }}">Read More&hellip; &raquo;</a>
  </footer>
</article>
{{ end }}

{{ partial "pagination.html" . }}

{{ partial "googleAnalytics/script.html" . }}

{{ end }}
